label{
    margin-left:5%;
}
.card-header {
    font-weight: bold; 
    color: #ffff !important;
    background: rgb(41, 75, 150) !important;
}
.med{
max-width:40%;
}
img.ventana{
    max-width: 40% !important;
    max-height: 40% !important;
    margin-left:5% !important;
}

img.corredera{
    max-width:80%;
    max-height:15% !important;
}

img.paralela{
    max-width:80%;
    max-height:20% !important;
}
.card{
    width: 85%;
    margin-left: 5% !important;
    margin-top: 5% !important;
    
}


.modal{
    top:200px !important;
  }
  .modal-dialog {
    max-width: 500px !important;
    margin: 11.75rem auto !imporant;
  }

.center{margin:auto;}



.card-footer{

    margin-top: -100px;
}

.bg-primary{
    background:rgb(41, 75, 150) !important;
}

.btn-primary{
    background:#563d7c !important;
    border-color: #000000;
}

.mostrarfoto{
    display:none !important;
    
   
}
a:hover {
    position: relative;
}
a:hover:after {
    content: url(../images/aluminiocolores.png); /* no need for qoutes */
    display: block;
    position: absolute;
    left: 260px; /* change this value to one that suits you */
    top: -200px; /* change this value to one that suits you */
    width:600px;
    height:400px;
    z-index: 1 !important;
}

a.pvc:hover{
    position: relative;

}
a.pvc:hover:after {
    content: url(../images/pvccolores.jpg); /* no need for qoutes */
    display: block;
    position: absolute;
    left: 260px; /* change this value to one that suits you */
    top: -200px; /* change this value to one that suits you */
    width:600px;
    height:400px;
    z-index: 1 !important;
}